h1 {
  color: white;
}

.list {
  font-size: 1.5rem;
  color: white;
  max-width: 800px;
}

.todo {
  list-style: none;
}

input[type='checkbox']:checked + label {
  text-decoration: line-through;
}

.todo * {
  margin: 5px;
}

.btnsGroup {
  display: flex;
  flex-direction: row;
}

.btnDelete,
.btnEdit {
  cursor: pointer;
  border: gray 1px solid;
  max-width: 2em;
  max-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.imgEdit,
.imgDelete {
  max-width: 1em;
  max-height: 1em;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputMessage {
  color: #ffffff;
  border: none;
  font-family: monospace;
  border-bottom: 2px solid #00e6f6;
  font-size: 1.5rem;
  background-color: transparent;
  outline: none;
}
