.submitBtn {
  border: gray 1px solid;
  border-radius: 4px;
  padding: 4px;
  font-size: 1rem;
  margin: 0 5px;
}

.inputSuccess{
  border: none;
  border-bottom: 2px solid #6658de;
  font-size: 1.2rem;
  background-color: transparent;
  outline: none;
  color: white;
}

.inputError{
  border-top: 2px solid #a60f0f;
  border-bottom: 2px solid #a60f0f;
}