* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #252525;
  width: 100vw;
  height: 100vh;
}